---
---

@import "grape-theme";


@import url(‘https://fonts.googleapis.com/css?family=Nanum+Gothic+Coding&display=swap&subset=korean’);


/*
@font-face {
  font-family: "카페24 써라운드";
  font-weight: 400;
  src: url("@assets/fonts/Cafe24Ssurround.woff2") format("woff2");
}
*/

/*
@font-face {
    font-family: 'Cafe24Ssurround';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2105_2@1.0/Cafe24Ssurround.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
*/


@import url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2105_2@1.0/Cafe24Ssurround.woff') format('woff');
